{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container text-white">
  <div class='col-12 mx-auto py-5 text-center'>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel "data-interval="7000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'image/pedido.gif' %}" class="d-block w-100" alt="...">
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}