{% load i18n %}
{% load static %}
{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as products_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %}
{% url 'relatorio-produtos' as relatorio_url %}
{% url 'dashboard' as dashboard_url %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 mt-2">
  <div class='container'>
    <a class="navbar-brand text-empire mr-5" href="{{ home_url }}" style="font-size: 1.8rem; line-height: 90%;">
      Empire
      <div class="store ml-1 my-auto">Store</div> 
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-5" id="navbarNav">
      <ul class="navbar-nav mr-auto" style="font-size: 1.2rem">
        <li class="nav-item {% if request.path == home_url %} active {% endif %}">
          <a class="nav-link" href="{{ home_url }}">{% trans 'Inicio' %} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == products_list_url %} active {% endif %}">
          <a class="nav-link" href="{{ products_list_url }}">{% trans 'Produtos' %}</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item {% if request.path == relatorio_url %} active {% endif %}">
          <a class="nav-link" href="{{ relatorio_url }}" target="_blank">Relatório</a>
        </li>
        <li class="nav-item {% if request.path == dashboard_url %} active {% endif %}">
          <a class="nav-link" href="{{ dashboard_url }}" target="_blank">Gráfico</a> 
        </li>
        {% endif %}
        <li class="nav-item {% if request.path == contact_url %} active {% endif %}">
          <a class="nav-link" href="{{ contact_url }}">{% trans 'Suporte' %}</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item {% if request.path == login_url %} active {% endif %}"> 
          <a class="nav-link" href="{{ logout_url }}">{% trans 'Sair' %}</a> 
        </li>
        {% else %}
        <li class="nav-item {% if request.path == login_url %} active {% endif %}">
          <a class="nav-link" href="{{ login_url }}?next={{request.path}}">{% trans 'Entrar' %}</a>
        </li>
        <li class="nav-item {% if request.path == register %} active {% endif %}"> 
          <a class="nav-link" href="{{ register_url }}">{% trans 'Cadastro' %}</a> 
        </li>

        {% endif %}
        <li class="nav-item {% if request.path == cart_url %} active {% endif %}">
          <a class="nav-link" href="{{ cart_url }}">
            <span class="navbar-cart-count">
              {{ request.session.cart_items }}
            </span>
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
        <div>
        </div>
      </ul>
      {% include 'search/snippets/search-form.html' %}
    </div>
  </div><!--fim container-->
</nav>
{% endblock %}