{% load i18n %}

<div class="card border-3 border-warning m-2" style="width: 18rem;">
    {% if instance.image %}
        <a href="{{ instance.get_absolute_url }}">
            <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.title }} logo">
        </a>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ instance.title }}</h5>
        <p class="card-text">{{ instance.description|truncatewords:14 }}</p>
        <p class="card-text">{% trans 'R$' %} {{ instance.price }}</p>
        <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">{% trans 'Detalhes' %}</a>
        {% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
    </div>
</div>