button a {
    color: rgb(255, 255, 255);
    text-decoration: none !important;
}

 /* link que foi visitado */
 a:visited {
     color: rgb(19, 19, 19);
 }
 
 /* mouse hover */
 a:hover {
     color: #1a1a1a;
 }
 
 /* link selecionado */
 a:active {
     color: rgb(17, 17, 17);
 }