
@font-face {
    font-family: starjedi;
    src: url(fonts/Starjedi.ttf);
}

@font-face {
    font-family: alexandria;
    src: url(fonts/Alexandria-Regular.ttf);
}

@font-face {
    font-family: alexandria-light;
    src: url(fonts/Alexandria-Light.ttf);
}

.bg-dark {
    background-color: rgb(8, 7, 7) !important;
}

.text-empire{
    font-family: starjedi;
    color: rgb(248, 190, 0) !important;
    
}

.text-alexandria {
    font-family: alexandria;
    text-transform: uppercase
}

.text-alexandria-light {
    font-family: alexandria-light;
    text-transform: uppercase;
}