{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block base_head %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}
{% block content %}   
    <div class='container bg-dark text-white'>
        <div class='text-center pb-5 bg-dark'>
            <h1>{{ title }}</h1>
        </div>
        <div class="row pl-5">
            <div class="col-sm-6 col-md-8 col-12">
                <h4>{% trans 'Chat instantâneo' %}</h4>
                <p>{% trans 'Tire suas dúvidas com um de nossos atendentes em tempo real.' %}<br>
                    {% trans 'Basta clicar em "Iniciar atendimento" que você será redirecionado para a pagina do chat' %}, 
                    {% trans 'depois basta colocar seu nome e o assunto, que um de nossos atendentes irá esclarecer suas dúvidas.' %} <br>
                </p>
            </div>
        </div>
        <div class=" pl-5 pt-2 pb-4">
            <button type="button" class="btn btn-success"><a href="{% url 'chat_home' %} ">{% trans 'Iniciar atendimento' %}</a></button>
        </div> 
        <div class='row pl-4 pt-4 pb-4'>
            <div class='col'>
                <h4 class="pl-3">{{ content }}</h4>
                <div class='col-sm-6 col-12'>
                    <form method='POST' class="text-dark"> {% csrf_token %}
                        {{ form }}
                        <button type='submit' class='btn btn-success mt-3 px-5 w-100'>{% trans 'Enviar' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}