{% extends "base.html" %}

{% load static %}
    
{% block content %}

<div class="container my-4">
	<p>
		<button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
		  Novo na Empire Store?
		</button>
	  </p>
	  <div style="min-height: 120px;">
		<div class="collapse collapse-horizontal" id="collapseWidthExample">
		  <div class="card card-body" style="width: 300px;">
			Na Empire Store você pode navegar pela área de produtos, podendo filtrar pelo nome e marca. Você poderá finalizar sua compra como um convidade, iformando apenas seu email. Você poderá realizar contato com o suporte do site, colocando seu nome e o assundo no qual você esta precisando de ajuda.
		  </div>
		</div>
	  </div>
</div>
<div class="container">
	
	
	<div id="carouselExampleControls" class="carousel slide border border-warning " data-interval="5000" data-ride="carousel" >
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img class="d-block w-100" src="{% static 'image/banergame.png' %}" alt="Primeiro Slide">
		  </div>
		  <div class="carousel-item">
			<img class="d-block w-100" src="{% static 'image/monitor.gif' %}" alt="Segundo Slide">
		  </div>
		  <div class="carousel-item">
			<img class="d-block w-100" src="{% static 'image/controledualshock.gif' %}" alt="Terceiro Slide">
		  </div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Anterior</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Próximo</span>
		</a>
	  </div>
	  <div class="container">
		
	  </div>

	

</div>



{% endblock %}