{% load static %}
<html>
<head>
    <title>Relatório de Alunos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>
    <center>
        <img src="{% static 'images/logo/logo.svg' %}">
        <br/>
        <h1>Relatório de Produtos</h1>
    </center>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Título do Produto</th>
                    <th>Tipo</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>

            <tbody>
                {% for a in produtos %}
                    <tr>
                        <th scope="row">{{ a.title }}</th>
                        <th scope="row">{{ a.productType }}</th>
                        <th scope="row">{{ a.price }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>